.collectionCard {
    background: #3d2942;
}

.collectionCardCont {
    margin: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.collectionInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collectionLeft {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    line-height: 36px;
}

.collectionInfo > p {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 35px;
    color: #c2b5c6;
}